{%- liquid
  assign animations_enabled = settings.animations_enabled
  assign animation_delay = 200
  assign animation_anchor = '#b2b-drawer--' | append: section.id
-%}

{% style %}
    .b2b-cart-drawer__message, .b2b-cart-drawer__progress {
        padding: 0 var(--inner) 0;
        margin: 0;
    }

    .b2b-product-info-block{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
    }
      
    .b2b-product-image{
        border-radius: 5px;
        width: 80px;
        height: 80px;
    }
      
    .b2b-cart-product-info{
        display: flex;
        padding-left: 20px;
        justify-content: center;
        align-self: center;
    }
      
    .b2b-cart-item-price{
        line-height: 1;
        font-weight: 500;
        margin: 0;
    }

    .b2b-size-chart-content{
        margin: 2px 25px 2px;     
    }
    .b2b-size-chart-content .b2b-size-chart-title{
        margin-bottom: 15px;
    }
    .b2b-radio__button{
        position: relative;
        display: inline-block;
        margin: 0 8px 8px 0;
        border-color: transparent;
    }
    .checkbox__input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
        overflow: hidden;
        pointer-events: none;
        display: block; 
    }
    .b2b-radio__label{
        display: block;
        line-height: 1.3;
        position: relative;
        margin: 0;
        padding: 8px 14px;
        border: 1px solid #B9B9B9;
        border-radius: 25.5px;
        transition: border 0.3s ease-out;
    }
    .b2b-radio__label span{
        font-size:14px;
    }
    .b2b-cart-variants-quantity{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        background-color: #F5F5F5;
    }

    @media only screen and (max-width:425px){

        .b2b-discount-offer-block{
            width: 100%;
        }
        .b2b-discount-block-wrapper .items-title{
            font-size: 14px;
        }
       .b2b-discount-block-wrapper h3{
            font-size:16px;
        }
        .b2b-cart-drawer__message{
            font-size:14px;
        }    
        .b2b-product-image{
            width:80px;
            height:80px;
        }
        .b2b-cart-item-title{
            font-size: 18px;
        }
        .b2b-cart-item-price{
            font-size: 16px;
        }
    }
{% endstyle %}

<div id="variant-picker-modal" class="variant-picker-modal" data-variant-picker-modal >
    <div
        class="variant-picker__head"
        {% if animations_enabled %}
            data-aos="fade-up"
            data-aos-delay="{{ animation_delay }}"
            {%- assign animation_delay = animation_delay | plus: 100 -%}
        {% endif %}
    >
        <h3>Select Varaints</h3>
        <a
            href="#variant-picker-modal"
            class="variant-picker-modal__close"
            data-b2b-cart-drawer-toggle
            aria-label="{{ 'general.accessibility.close_drawer' | t }} Select Variants">
            {%- render 'icon-close-small' -%}
        </a>
    </div>
    <hr class="hr--full"
        {% if animations_enabled %}
            data-aos="fade-up"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-delay="{{ animation_delay }}"
            {%- assign animation_delay = animation_delay | plus: 150 -%}
        {% endif %}
    >
    <div class="variant-picker-modal__body" data-variant-picker-modal-body data-api-b2b-drawer-section></div>
</div>
