<style>

    .b2b__product__selector .swatch__label,
    .b2b__product__selector .radio__label {
        pointer-events: none;
    }

    .b2b-discount-offer-block {
        display: flex;
        justify-content: space-between;
        width: 75%;
    }

    .b2b-discount-offer-items {
        color: #909090;
    }

    .b2b-discount-block-wrapper h3 {
        color: #FE6D6D;
        font-family: 'Montserrat';
        font-weight: 600;
    }

    .b2b-discount-block-wrapper h5 {
      font-family: 'Montserrat';
    }

    .b2b-discount-block-wrapper .items-title{
        margin: 10px 0 5px;
    }

    .b2b-minimum-order-title {
        text-align: center;
        font-size: 14px;
    }

    .b2b-button-option {
        font-size: 16px;
    }

    .product__submit__buttons .product__submit__add * {
        pointer-events: none;
    }

    .b2b-product-info-block{
        margin-top: 15px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
    }
      
    .b2b-product-image{
        border-radius: 5px;
        width: 150px;
        height: 150px;
    }
      
    .b2b-product-info{
        display: flex;
        padding-left: 20px;
        justify-content: center;
        align-self: center;
    }
      
    .b2b-product-info h3{
        margin-top: 2px;
    }
</style>

<div
    class="b2b-discount-block-wrapper"
    {% if animations_enabled %}
        data-aos="fade-up"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-delay="{{ animation_delay }}"
        {%- assign animation_delay = animation_delay | plus: 150 -%}
    {% endif %}
>
    <h5>Bulk Discounting</h5>
    <div class="b2b-discount-offer-block">
        <div class="b2b-discount-offer-items">
            <p class="items-title">6 - 50 pieces</p>
            <h3>10% Off</h3>
        </div>

        <div class="b2b-discount-offer-items">
            <p class="items-title">6 - 50 pieces</p>
            <h3>10% Off</h3>
        </div>

        <div class="b2b-discount-offer-items">
            <p class="items-title">6 - 50 pieces</p>
            <h3>10% Off</h3>
        </div>
    </div>
</div>

<hr class="hr--full"
    {% if animations_enabled %}
        data-aos="fade-up"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-delay="{{ animation_delay }}"
        {%- assign animation_delay = animation_delay | plus: 150 -%}
    {% endif %}
>