<style>
    .b2b__product__selector .swatch__label,
    .b2b__product__selector .radio__label {
        pointer-events: none;
    }

    .b2b-discount-block-wrapper {

    }

</style>

<div class="b2b-discount-block-wrapper">
    Shweta
</div>
