{%- liquid
  assign animations_enabled = settings.animations_enabled
  assign animation_delay = 200
  assign animation_anchor = '#b2b-drawer--' | append: section.id
-%}

<div id="variant-picker-modal" class="variant-picker-modal" data-variant-picker-modal >
    <div class="cart-drawer__head"
        {% if animations_enabled %}
            data-aos="fade-up"
            data-aos-delay="{{ animation_delay }}"
            {%- assign animation_delay = animation_delay | plus: 100 -%}
        {% endif %}>
        <a
            href="#cart-drawer"
            class="variant-picker-modal"
            data-b2b-cart-drawer-toggle
            aria-label="{{ 'general.accessibility.close_drawer' | t }} Select Variants">
            {%- render 'icon-close-small' -%}
        </a>
        <div class="loader loader--line">
            <div class="loader-indeterminate"></div>
        </div>
    </div>
    <div class="cart-drawer__body" data-variant-picker-modal-body>
        <div class="variant-picker-modal__content" data-variant-picker-modal-content>

        </div>
    </div>
</div>
