<div class="cart-free-item-main-section">
    <div class="cart-free-item-wrapper">
        <p>Your free item:</p>
        <div class="cart-free-item-list cart-drawer__items">
            <!-- Product loop     -->
            <div class="cart__item">
                <div class="cart__item__image">
                    <a href="#">
                        <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A3406_180x.jpg?v=1668480868" alt="">
                    </a>
                </div>
                <div class="cart__item__content">
                    <div class="item_info_wrapper cart__item__info">
                        <p class="cart__item__title">
                            <a href="#">1x Mystery Graphic Tee</a>
                        </p>
                        <p class="cart__item__selected-options">
                            <span>Size:</span>
                        </p>
                        <div class="cart__item__meta">      
                            <div class="cart_item__size">
                                <select name="id" class="product_form_select" aria-label="">
                                    <option value="XL">Medium</option>
                                    <option value="XL">Small</option>
                                    <option value="XL">Extralarge</option>
                                </select>
                            </div>  
                            <div class="cart_item__button">
                                <div class="product__submit__buttons">                                    
                                    <button type="submit" name="add" class="btn btn--submit product__submit__add">
                                        <span>Add to Cart</span>
                                        <!-- <div class="loader loader--line"><div class="loader-indeterminate"></div></div> -->
                                    </button>                                
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product loop     -->
        </div>
    </div>
</div>