{% style %}





{% endstyle %}

{% liquid
  assign featured_media = current_variant.featured_media | default: product.featured_media
%}

<div class="variant-picker-modal__body" data-variant-picker-modal-body data-api-b2b-drawer-section>
 
{% comment %} progress bar as new design doesn't contain it {% endcomment %}
  {% comment %} <p class="b2b-cart-drawer__message">Add 16 more pieces to get 20% off.</p>
  <p
    class="b2b-cart-drawer__progress"
    data-limit="{{ limit }}"
    data-cart-total-price="{{ cart_total_price }}"
    {% if animations_enabled %}
      data-aos="fade-up"
      data-aos-delay="{{ animation_delay }}"
      {%- assign animation_delay = animation_delay | plus: 100 -%}
    {% endif %}
  >
    <progress
      class="cart__message__progress"
      data-b2b-drawer-progress
      value="40"
      max="100"
    ></progress>
  </p> {% endcomment %}
  <div class="variant-picker-modal__content" data-variant-picker-modal-content>
    <div class="b2b-product-info-block">
      <img
        class="b2b-product-image"
        src="//cdn.shopify.com/s/files/1/0078/2178/7200/products/image_087b7e44-54f0-4f01-96e8-3873724a54fd_160x.jpg?v=1677702852"
        alt="Cowboy Hat Air Freshener - Bubblegum"
      >
      <div class="b2b-cart-product-info">
        <div>
          <h4 class="b2b-cart-item-title">{{- product.title | strip_html -}}</h4>
          <p class="b2b-cart-item-price">$6.00</p>
        </div>
      </div>
    </div>
  </div>
</div>


