<div data-api-content>
  {%- if cart.item_count > 0 -%}
    {% comment %}
    <div class="cart-free-item" data-api-free-items
      {% if animations_enabled %}
      data-aos="fade-up"
      data-aos-delay="{{ animation_delay }}"
        {%- assign animation_delay = animation_delay | plus: 50 -%}
      {% endif %}
    >
      {% assign cartTotal = 0 %}
      {% assign promotionalLineProductId = blank %}
      {% for line in cart.items %}
        {% assign promotionalAvailable = false %}
        {% for p in line.properties %}
          {% if p.first == 'Product Type' and p.last == 'Promotional' %}
            {% assign promotionalAvailable = true %}
            {% assign promotionalLineProductId = line.product.id %}
          {% endif %}
        {% endfor %}
        {% unless promotionalAvailable %}
          {% assign lineTitle = line.title | downcase %}
          {% unless lineTitle contains "protection" %}
            {% assign cartTotal = cartTotal | plus : line.original_line_price %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
      {% if cartTotal > 0 %}
        {%- render 'cart-free-item', animation_delay: animation_delay, promotionalLineProductId: promotionalLineProductId, cartTotal: cartTotal -%}
      {% endif %}
    </div>
    {% endcomment %}
    <div data-api-line-items>
      {%- render 'cart-line-items', part: 'line-items' -%}
    </div>
    <div data-api-upsell-items>
      {%- render 'cart-line-items', part: 'upsell-items' -%}
    </div>
  {%- else -%}
    {% comment %}
      The cart is empty
    {% endcomment %}
    <div class="text-center">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p><a href="{{ routes.root_url }}" class="btn">{{ 'cart.general.continue_shopping' | t }}</a></p>
    </div>
  {%- endif -%}
</div>
