<div class="wrapper womens_size_chart">
    <table border="0" cellpadding="0" cellspacing="0" width="566" height="316">
    <tbody>
    <tr class="headrow">
    <td style="width: 74.9297px;"><span>Size</span></td>
    <td style="width: 74.9297px;"><span>Neck</span></td>
    <td style="width: 74.9297px;"><span>Chest</span></td>
    <td style="width: 74.9297px;"><span>Waist</span></td>
    <td style="width: 74.9297px;"><span>Sleeve</span></td>
    </tr>
    <tr class="oddrow">
    <td style="width: 74.9297px;"><span>S</span></td>
    <td style="width: 74.9297px;"><span>13-14″</span></td>
    <td style="width: 74.9297px;"><span>32-35″</span></td>
    <td style="width: 74.9297px;">
    <span><span>28-32</span></span><span>″</span>
    </td>
    <td style="width: 74.9297px;"><span>32-35″</span></td>
    </tr>
    <tr>
    <td style="width: 74.9297px;"><span>M</span></td>
    <td style="width: 74.9297px;"><span>14-15″</span></td>
    <td style="width: 74.9297px;"><span>36-40″</span></td>
    <td style="width: 74.9297px;"><span>33-36″</span></td>
    <td style="width: 74.9297px;"><span>33-37″</span></td>
    </tr>
    <tr class="oddrow">
    <td style="width: 74.9297px;"><span>L</span></td>
    <td style="width: 74.9297px;"><span>15-16″</span></td>
    <td style="width: 74.9297px;">
    <span><span>43-44</span></span><span>″</span>
    </td>
    <td style="width: 74.9297px;"><span>37-39″</span></td>
    <td style="width: 74.9297px;"><span>34-37″</span></td>
    </tr>
    <tr>
    <td style="width: 74.9297px;"><span>XL</span></td>
    <td style="width: 74.9297px;"><span>16-17″</span></td>
    <td style="width: 74.9297px;"><span>47-48″</span></td>
    <td style="width: 74.9297px;"><span>40-44″</span></td>
    <td style="width: 74.9297px;"><span>35-36″</span></td>
    </tr>
    <tr>
    <td style="width: 74.9297px;"><span>2XL</span></td>
    <td style="width: 74.9297px;"><span>16-18″</span></td>
    <td style="width: 74.9297px;">
    <span><span>50-52</span></span><span>"</span>
    </td>
    <td style="width: 74.9297px;"><span>44-48″</span></td>
    <td style="width: 74.9297px;"><span>36-37″</span></td>
    </tr>
    <tr class="oddrow">
    <td style="width: 74.9297px;"><span>3XL</span></td>
    <td style="width: 74.9297px;"><span>19-19″</span></td>
    <td style="width: 74.9297px;"><span>52-56″</span></td>
    <td style="width: 74.9297px;"><span>48-50″</span></td>
    <td style="width: 74.9297px;">
    <span><span>39-38</span></span><span>″</span>
    </td>
    </tr>
    </tbody>
    </table>
</div>

{% schema %}
{
    "name": "Womens Size Chart",
    "settings": [],
    "presets": [
        {
            "name": "Womens Size Chart"
        }
    ]
}
{% endschema %}