/* Header Hover Styles */

/* Text Highlight */
.text-Highlight{
    display: flex;
    justify-content: space-between;
}
.text-Highlight .text-Highlight-Heading{
    text-align: left;
}
.text-Highlight .text-Highlight-btn .btn{
    text-align: right;
}
.text-Highlight .text-Highlight-btn .btn{
    vertical-align: middle;
}

/* Product Page - Slider */
.product-single .product-single__wrapper .product-single__gallery .flickity-slider:first-child>div .product-single__media.product-single__media--image .product-single__media--image-height{
    padding-top: 100% !important;
}

.product-single .product-single__wrapper .product-single__gallery .flickity-slider:first-child >div .product-single__media.product-single__media--image img {
    /* max-height: 652.5px; */
    object-fit: cover;
}
/* Footer Styles */
.footer__svg{
    top: 0;
    height: 30px;
    background-color: #ff6d6d;
}
.footer__svg .zigzag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(135deg, #fff 12px,
            transparent 0%), linear-gradient(-135deg, #fff 12px,
            transparent 0%);
    background-size: 30px;
}
/* Media Queries */
@media screen and (min-width: 1024px) {
    .site-header:hover {
        background-color: var(--COLOR-BG);
    }

    .site-header:hover .nav .menu__item .navlink.navlink--toplevel {
        color: var(--COLOR-TEXT);
    }

    .site-header:hover .nav .menu__item .navlink.navlink--highlight {
        color: var(--highlight);
    }

    .site-header:hover .nav .menu__item .navlink.navlink--icon .icon {
        fill: var(--COLOR-TEXT);
    }

    /* /collections/2022-usa-collection Layout Update */
    .collection-section .collection__wrapper .collection__inner .collection__products .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
/* Subscription Section - Homepage */
.image--and--mButtons__parent .image-and-mButtons__container {
    column-gap: 50px;
}

.image-and-mButtons__container {
    display: flex;
}

    /* Image Container  */
    .image__container__mButtons {
        text-align: center;
    }

    /* Icon and Description Container  */
    .image-and-mButtons__container .image-and-mButtons__blocks__container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Icon and Description Styles */
    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent>div {
        display: inline-block;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent {
        display: flex;
        flex-direction: row;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__image {
        flex: 1 1 auto;
        margin-right: 15px;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__children {
        flex: 1 1 80%;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__children:last-child {
        font-family: Montserrat;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__button .icons__button__link {
        box-shadow: 5px 5px var(--COLOR-BLACK);
        font-family: 'Londrina Solid', cursive;
        min-width: 180px;
    }

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer__svg {
        top: -30px;
    }
}

@media screen and (max-width: 768px){
    /* Subscription Section - Homepage */
    .image-and-mButtons__container {
        flex-direction: column;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__image {
        width: 100%;
    }

    .image-and-mButtons__container .image-and-mButtons__blocks__container {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px){
    /* Subscription Section - Homepage */
    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__children .icons__content__heading h3 {
        font-size: 24px !important;
    }
    
    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__children .rich-text__text p {
        font-size: 16px !important;
        margin-top: 10px
    }
    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__image {
        width: 100%;
    }
    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__image {
        margin-right: 5px;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__image img {
        max-width: 49px;
        height: auto;
    }
    .image-and-mButtons__container .image-and-mButtons__blocks__container .block__image-mButton .main-buttons {
        align-items: center;
    }

    .image-and-mButtons__container {
        flex-direction: column;
    }
}