/* Header Hover Styles */

/* Text Highlight */
.text-Highlight{
    display: flex;
    justify-content: space-between;
}
.text-Highlight .text-Highlight-Heading{
    text-align: left;
}
.text-Highlight .text-Highlight-btn .btn{
    text-align: right;
}
.text-Highlight .text-Highlight-btn .btn{
    vertical-align: middle;
}

/* Product Page - Slider */
.product-single .product-single__wrapper .product-single__gallery .flickity-slider:first-child>div .product-single__media.product-single__media--image .product-single__media--image-height{
    padding-top: 100% !important;
}

.product-single .product-single__wrapper .product-single__gallery .flickity-slider:first-child >div .product-single__media.product-single__media--image img {
    /* max-height: 652.5px; */
    object-fit: cover;
}
/* Product Page - Svg Slider Styles */
.product-page-svg svg{
    max-width: -webkit-fill-available;
}
/* Footer Styles */
.site-footer{
    padding-bottom: 0;
}
.footer-block__description{
    margin: 0;
}
.footer__svg{
    top: 0;
    height: 30px;
    background-color: #ff6d6d;
}
.footer__svg .zigzag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(135deg, #fff 12px,
            transparent 0%), linear-gradient(-135deg, #fff 12px,
            transparent 0%);
    background-size: 30px;
}

.footer-links{
    row-gap: 17px;
}
.footer-links li {
    margin-bottom: 0;
}

.footer-link{
    font-weight: 600;
}
.footer-bottom{
    margin-top: 42px;
    padding: 26px var(--gutter) 20px var(--gutter);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-bottom .footer-copyright{
    color: var(--black);
}
.footer-bottom::after{
    content: none;
}
/* Social Icons */
.social-sharing-wrapper{
    justify-content: flex-start;
    gap: 12px;
}

.social-sharing-icon{
    margin: 0;
}

.social-sharing-icon .icon{
    width:  20px;
    height: auto;
}
/* Subscription Section - Homepage */
.image--and--mButtons__parent .image-and-mButtons__container {
    column-gap: 50px;
}

.image-and-mButtons__container {
    display: flex;
}

    /* Image Container  */
    .image__container__mButtons {
        text-align: center;
    }

    /* Icon and Description Container  */
    .image-and-mButtons__container .image-and-mButtons__blocks__container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;
        margin: auto 0;
        height: fit-content;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent>div {
        display: inline-block;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent {
        display: flex;
        flex-direction: row;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__image {
        flex: 1 1 20%;
        margin-right: 15px;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__children {
        flex: 1 1 80%;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__children:last-child {
        font-family: Montserrat;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__children .rich-text__text p{
        margin-top: 16px;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__button .icons__button__link {
        font-family: 'Chivo', sans-serif;
        min-width: 180px;
    }

    .image--and--mButtons__parent .image-and-mButtons__blocks__container .icons__button{
        display: flex;
        flex-direction: row;
    }

    .image--and--mButtons__parent .image-and-mButtons__blocks__container .icons__button .empty__block__icons__description{
        flex: 1 1 20%;
        margin-right: 15px;
    }

    .image--and--mButtons__parent .image-and-mButtons__blocks__container .icons__button .main-buttons{
        flex: 1 1 80%;
        justify-content: flex-start;
        margin: 0;
    }
    .image--and--mButtons__parent .image-and-mButtons__blocks__container .icons__button .main-buttons .main-buttons__item{
        margin: 0;
    }

    /* Tabs - section-accordions */
    .tabs_heading_left_align .section__header .section__heading{
        text-align: left;
    }
/* Model Info */
.model_info_container{
    padding: 60px 0;
}

.model_info_parent {
    display: flex;
    flex-direction: column;
}

.model_info_parent .model_info_image{
    text-align: center;
}

.model_info_parent .model_info_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.model_info_container .model_info_parent .model_info_blocks_data_container .model_info_blocks_data_container_title {
    padding-bottom: 50px;
}

.model_info_container .model_info_parent .model_info_blocks_data_container .model_info_blocks_data_container_title .product__title{
    font-size: 32px;
}

.model_info_parent .model_info_blocks_data_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EAE2DB;
    padding: 50px 0;
}

.model_info_parent .model_info_blocks_data_container p{
    width: fit-content;
    height: fit-content;
    margin: 0;
}
 

/* Sitemap Styles */
/* .sitemap-container .sitemap-parent .sitemap-heading .sitemap-heading-content{
    margin: 30px 0;
    text-align: center;
} */

.sitemap-container .sitemap-parent .section-sitemap p{
    display: inline;
}

.sitemap-container .sitemap-parent .section-sitemap p a{
    padding: 0  10px 0 0;
    border-right: 1px solid;
}

.sitemap-container .sitemap-parent .section-sitemap{
    margin: 60px 0;
}

.okeReviews{
    max-width: 100% !important;
}

.product__form__wrapper.variant--soldout .product__submit__buttons button[type=submit]{
    display: none;
}

/* Media Queries */
@media screen and (min-width: 768px){
    /* Footer Currency */
    .footer-currency .select-popout__toggle{
        padding: var(--form-top) var(--arrow-size) var(--form-top) 0;
    }
}
@media screen and (min-width: 1024px) {
    .site-header:hover {
        background-color: var(--COLOR-BG);
    }

    .site-header:hover .nav .menu__item .navlink.navlink--toplevel {
        color: var(--COLOR-TEXT);
    }

    .site-header:hover .nav .menu__item .navlink.navlink--highlight {
        color: var(--highlight);
    }

    .site-header:hover .nav .menu__item .navlink.navlink--icon .icon {
        fill: var(--COLOR-TEXT);
    }

    /* /collections/2022-usa-collection Layout Update */
    .collection-section .collection__wrapper .collection__inner .collection__products .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    /* Footer Styles */
    .footer-content .footer-block--logo {
        padding-right: 0;
        margin-right: 80px;
    }

    /* Model Info */
    .model_info_parent {
        display: flex;
        flex-direction: row;
    }
    .model_info_parent .model_info_image,
    .model_info_parent .model_info_blocks_data_container {
        width: 50%;
    }
    .model_info_parent .model_info_blocks_data_container{
        padding: 0;
    }
}
@media screen and (min-width: 1200px){
    /* Custom Content Section - Custom Classes for Height */
    .custom_content_height_650 .brick__block__content .brick__block__inner .brick__image{
        height: 650px;
    }
    /* Footer Logo Block */
    .site-footer{
        padding-top: 83px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer__svg {
        top: -30px;
    }
}

@media screen and (max-width: 768px){
    /* Subscription Section - Homepage */
    .image-and-mButtons__container {
        flex-direction: column;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__image {
        width: 100% !important;
    }

    .image-and-mButtons__container .image-and-mButtons__blocks__container {
        width: 90%;
        margin: 0 auto;
    }
    /* Footer Styles */
    .footer-bottom{
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        align-items: center;
    }
    .footer-bottom .payment-icon-list{
        justify-content: center;
    }
    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__image .image__container__mButtons img{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    /* Subscription Section - Homepage */
    .image-and-mButtons__container .image-and-mButtons__blocks__container{
        padding: 20px 0;
        height: fit-content;
        padding: 0;
    }
    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__children .icons__content__heading h3 {
        font-size: 24px !important;
        font-family: 'Londrina Solid';
    }
    
    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__children .rich-text__text p {
        font-size: 16px !important;
        margin-top: 10px;
    }
    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__image {
        margin-right: 5px;
    }

    .image--and--mButtons__parent .image-and-mButtons__container .image-and-mButtons__blocks__container .icons__content__container .icons__content__parent .icons__content__image img {
        max-width: 49px;
        height: auto;
    }
    .image--and--mButtons__parent .image-and-mButtons__blocks__container .icons__button .empty__block__icons__description{
        margin-right: 5px;
    }
    .image-and-mButtons__container .image-and-mButtons__blocks__container .block__image-mButton .main-buttons {
        align-items: flex-start;
    }

    .image-and-mButtons__container {
        flex-direction: column;
    }
    /* Footer Styles */
    
    .footer-content .footer-blocks {
        gap: 32px;
    }

    .footer-content .footer-blocks .footer-block .footer-title__button {
        padding: 0 32px 0 0;
    }
    .footer-title__button{
        font-size: 32px !important;
        }

    .site-footer .footer-content .footer-block .footer-block__description__container{
        line-height: 24px;
    }
    .footer-currency .footer__select-popout {
        justify-content: center;
    }

    .footer-bottom {
        margin-top: 26px;
        padding: 20px var(--gutter-mobile);
    }
        /* Footer Social Icons */
        .site-footer{
            padding-top: 67px
        }
        .site-footer .footer-content .footer-block .social-sharing-wrapper{
            padding-top: 20px;
        }
        /* Footer Currency */
        .footer-currency{
            margin-top: 32px;
            margin-bottom: 26px;
        }
    /* Custom Content Section */
        /* Text is on Top - Mobile View */
        .custom-content-mobile-image-on-top .brick__blocks__flex .brick__block--image{
            order: 1;
        }
        .custom-content-mobile-image-on-top .brick__blocks__flex .brick__block--text{
            order: 2;
        }
        /* Image is on Top - Mobile View */
        .custom-content-mobile-text-on-top .brick__blocks__flex .brick__block--image {
            order: 2;
        }
        .custom-content-mobile-text-on-top .brick__blocks__flex .brick__block--text {
            order: 1;
        }
}

/* Rewards Program CSS */

.banner_container{
    width: 100%;
    height: 37.5rem;
    position: relative;
}
.banner_text h1, .banner_text p{
    color: #fff;
}
.banner_text h1{
    line-height: 1;
}
.banner_text{
    width: 33%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 50px;
}
.banner_btn{
    width: 12.75rem;
    height: 61px;
    padding: 18px 22px !important;
}
@media (max-width: 767px){
    .banner_text{
        width: 70%;
        padding-left: 20px;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .banner_text{
        padding-left: 20px;
    }
}
.reward_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}
.reward_svg{
    width: 7.188rem;
    height: 6.125rem;
}
.earn_rewards_container h1, .earn_rewards_container p, .reward_block{
    text-align: center;
}
.reward_block{
    margin-bottom: 100px;
}
.earn_rewards_container{
    padding: 100px 10% 0 10%;
}

@media (max-width: 767px){
    .reward_container{
        grid-template-columns: 1fr;
    }
    .earn_rewards_container{
        padding: 30px 20px;
    }
    .reward_block{
        margin-bottom: 50px;
    }
    .reward_block h3{
        margin-top: 30px;
    }
    .earn_rewards_container h1{
        font-size: 36px !important;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .reward_container{
        grid-template-columns: 1fr 1fr;
    }
    .earn_rewards_container{
        padding: 30px 20px;
    }
}
.redeem_points_container{
    background: #FFF9F5;
    text-align: center;
    padding: 100px 0;
}
.redeem_points{
    display: flex;
    flex-direction: row;
    margin: 50px 20%;
}
.points_block1{
    flex-basis: 50%;
    position: relative;
    margin-right: 40px;
}
.offer_value{
    position: absolute;
    color: #521017;
    font-size: 56px;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
}
.points_block2{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: auto;
    text-align: left;
}
.points_block2 h3{
    font-size: 30px;
    margin: 0;
}
.points_block2 p{
    font-size: 16px;
    margin-top: 15px;
}
.offer_svg{
    position: relative;
}
.points_btn{
    width: 12.75rem;
    padding: 18px 22px !important;
    margin-top: 32px;
    font-size: 20px;
}
.vip_tiers_container{
    text-align: center;
    margin: 100px 5%;
}
.vip_tiers_container p{
    margin-bottom: 5%;
}
@media (max-width: 470px){
    .redeem_points{
        margin: 50px 20px;
    }
}
@media (max-width: 767px){
    .redeem_points{
        flex-direction: column;
    }
    .points_block1{
        margin: 0 10%;
    }
    .points_block2{
        text-align: center;
        margin-top: 20px;
    }
    .points_block2 h3{
        margin-bottom: 0;
        font-size: 24px !important;
    }
    .offer_value{
        font-size: 36px;
    }
    .redeem_points_container{
        padding: 50px 0;
    }
    .vip_tiers_container{
        margin: 50px 5%;
    }
    .redeem_points_container h1, .vip_tiers_container h1{
        font-size: 36px !important;
    }
    .redeem_points_container a,.vip_tiers_container .banner_btn{
        margin-top: 50px;
    }
    .banner_btn{
        width: 10.938rem;
        height: 47px;
        padding: 10px 0 !important;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .redeem_points{
        margin: 50px 40px;
    }
    .offer_value{
        font-size: 46px;
    }
    .points_block2 h3{
        margin-bottom: 0;
    }
}
@media (min-width: 1024px) and (max-width: 1205px){
    .offer_value{
        font-size: 36px;
    }
}
.tier_header{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.tier_header h1{
    margin: 10% 0;
}
.tier_svg svg{
    display: block;
    margin: 0 auto;
}
.tier_features_1, .tier_features_2, .tier_features_3{
    text-align: center;
    padding: 18px 0;
    margin: 10px 30px;
    border-radius: 10px;
}

@media (max-width: 767px){
    .tier_features_1, .tier_features_2, .tier_features_3{
        margin: 10px 0;
    }
    .tier_header{
        margin-top: 50px;
    }
    .tier_header h1{
        margin: 20px 0 50px 0;
    }
}

.text_and_image_container{
    display: flex;
    flex-direction: row;
    max-height: 600px;
}
.container_image{
    flex-basis: 60%;
}
.container_image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.container_text{
    flex-basis: 40%;
    margin: auto;
    text-align: center;
}
.refer_btn{
    padding: 18px 75px;
    width: 257px;
}
.container_text h1{
    margin-bottom: 0;
}
@media (max-width: 767px){
    .text_and_image_container{
        flex-direction: column;
    }
    .container_text{
        margin: 50px 20px;
    }
}
.vip_tiers_block_list{
    display: flex;
}
.vip_tiers_block_item{
    width: 33.33%;
}
.vip_tiers_block_list hr{
    display: none;
}
@media (max-width: 767px){
    .vip_tiers_block_list{
        flex-direction: column;
    }
    .vip_tiers_block_item{
        width: 100%;
    }
    .vip_tiers_block_list hr{
        display: block;
        width: 100%;
    }
}
#Layer_2 .cls-1, #Layer_4 .cls-1{
    fill: #FE6D6D !important;
    stroke-dasharray: 0 !important;
    stroke: #FE6D6D !important;
}

/* cart drawer free item css here */

.cart-free-item-main-section{
    padding: 10px var(--inner);
}
.cart-free-item-main-section .cart-free-item-wrapper p{
    margin: 0;
    font-size: 14px;
    color: #000000;
}
.cart-free-item-main-section .cart-free-item-list{
    background: #00673B;    
    margin-top: 6px;
}
.cart-free-item-list .cart__item{
    display: flex;
}
.cart-free-item-list .cart__item .cart_item_image {    
    border-radius: 10px;
}
.cart-free-item-list .cart__item .cart__item__content .item_info_wrapper a{
    color: #FFFFFF;
    font-size: calc(0.815rem * var(--adjust-body));
}
.cart-free-item-list .cart__item .cart__item__content .item_info_wrapper .cart__item__selected-options{
    color: #FFFFFF;
    font-size: 14px;
    margin: 6px 0 0 0;
}

.cart-free-item-list .cart__item .cart__item__content .cart__item__info{
    max-width: inherit;
}
.cart-free-item-list .cart__item .cart__item__content .cart__item__meta .product_form_select {
    max-width: 90px;
    padding: 5px 8px;
    text-align: center;
    border: 0;
    font-size: 14px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url('https://img.icons8.com/material-outlined/24/null/expand-arrow--v1.png') no-repeat;
    background-position: calc(100% - 0.65rem) center !important;
    padding-right: 1.4rem !important;
    background-size: 14px;
}
.cart-free-item-list .cart__item .cart__item__content .item_info_wrapper .cart__item__meta{
    display: flex;
    align-items: center;
    margin: 2px 0 0 0;
}
.cart-free-item-list .cart__item .cart__item__content .item_info_wrapper .cart__item__meta .cart_item__button .product__submit__add{
    padding: 5px 8px;
    min-width: inherit;
    font-size: 14px;
}
.cart-drawer .cart-drawer__items .cart__item__content .cart__item__bottom .cart__item__quantity-minus.hidden{
    visibility: hidden;
}
.cart-drawer .cart-drawer__items .cart__item__content .cart__item__bottom .cart__item__quantity-plus.hidden{
    visibility: hidden;
}
.cart-drawer .cart_item_free_text{
    margin: 0;
    border: 1px solid #F03E55;
    padding: 4px 28px;
    border-radius: 4rem;
    font-size: 12px;
    color: #F03E55;
    font-weight: 600;
}
/* .cart-drawer .free__product{
    display: none;
} */
.cart-drawer .cart__item_price.cart_item_free_text{
    display: none;
}
/* cart page free item css here */
.cart .cart-free-item-main-section{
    padding: 15px 0;
}
.cart .cart-free-item-list .cart__item{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}
.cart .cart-free-item-list .cart__item .item_info_wrapper .cart__item__meta{
    display: flex;
    align-items: center;
    margin: 2px 80px 0 0;
}
.cart .cart-free-item-list .cart__item .cart__item__info{
    max-width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart .cart__item__selected-options{
    display: none;
}


.cart .cart-free-item-list .cart__item .item_info_wrapper a{
    color: #FFFFFF;
    font-size: calc(1rem * var(--adjust-body));
}
.cart .cart-free-item-list .cart__item .item_info_wrapper .cart__item__selected-options{
    color: #FFFFFF;
    font-size: 14px;
    margin: 6px 0 0 0;
}
.cart .cart-free-item-list .cart__item .cart__item__meta .product_form_select {
    max-width: inherit;
    padding: 6px 16px;
    text-align: center;
    border: 0;
    margin-right: 10px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url('https://img.icons8.com/material-outlined/24/null/expand-arrow--v1.png') no-repeat;
    background-position: calc(100% - 0.65rem) center !important;
    padding-right: 2rem !important;
    background-size: 16px;
}
.cart .cart-free-item-list .cart__item .item_info_wrapper .cart__item__meta .cart_item__button .product__submit__add{
    padding: 6px 16px;
    min-width: inherit;
    font-size: 14px;
}
.cart .cart__items .cart__item .cart__item__content .cart__item__bottom .cart__item__quantity-minus.hidden{
    visibility: hidden;
}
.cart .cart__items .cart__item .cart__item__content .cart__item__bottom .cart__item__quantity-plus.hidden{
    visibility: hidden;
}

.cart .cart__item_price.cart_item_free_text{
    margin: 0 auto;
    border: 1px solid #F03E55;
    padding: 4px 28px;
    border-radius: 4rem;
    font-size: 12px;
    color: #F03E55;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
}
.cart .cart__item__bottom.mt-0{
    margin-top: 0;
}
.cart .cart_item_free_text{
    display: none;
}
.cart .item_info_wrapper.cart__item__info .free__product, .cart-drawer .free__product{
    display: block;
    color: #F03E55;
    font-size: 14px;
    margin-top: 4px;
}

@media(max-width: 767px){
    .cart .cart-free-item-list .cart__item .item_info_wrapper .cart__item__meta .cart_item__button .product__submit__add{
        min-width: 120px;
    }
    .cart .cart-free-item-list .cart__item{
        display: flex;
    }
    .cart .cart-free-item-list .cart__item .cart__item__info{
        padding-right: 0;
        width: calc(100% - 120px);
    }
    /* Cart Page - Free Discount Product */
    .cart__items .cart__item__content-inner{
        justify-content: flex-start;
    }
    .cart .cart__item_price.cart_item_free_text{
        margin: 0;
    }
}
@media(min-width:768px) and (max-width:1024px){
    .cart .cart-free-item-list .cart__item{
        grid-template-columns: 0.8fr 2fr;
    }
}
@media(min-width:1200px) and (max-width:1980px){
    .cart .cart-free-item-list .cart__item{
        grid-template-columns: 0.3fr 2fr;
        align-items: center;
    }
}

@media screen and (max-width: 1230px) {
    .cart .cart-free-item-list .cart__item .cart__item__info{
        flex-direction: column;
        align-items: flex-start;
    }

    .cart .cart-free-item-list .cart__item .item_info_wrapper .cart__item__meta{
        margin-top: 12px;
    }
}

@media screen and (max-width: 479px) {
    .cart-free-item-list .cart__item .cart__item__content .item_info_wrapper .cart__item__meta, .cart .cart-free-item-list .cart__item .item_info_wrapper .cart__item__meta{
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-free-item-list .cart__item .cart__item__content .item_info_wrapper .cart__item__meta .cart_item__button .product__submit__add, .cart .cart-free-item-list .cart__item .item_info_wrapper .cart__item__meta .product__submit__buttons{
        margin-top: 10px;
    }

    .cart-free-item-list .product__submit__buttons{
        width: auto;
    }

}