@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Poppins:wght@400;500;600&family=Yeseva+One&display=swap');

/*shipping flex section css starts here*/

.shipping-flex .offer-block {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #FE6D6D;
    padding: 25px 0;
}

.shipping-flex .offer-block .offer-paragraph {
    margin: 2px 0;
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #fff;
}

.shipping-flex .offer-block .offer-subtext {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

/*shipping flex section css ends here*/
/*sale-offers section css starts here*/
.sale-section .sale-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    text-align: center;
    border-top: 1px solid #FE6D6D;
    margin: 0 70px 60px;
    padding-top: 25px;    
}

.sale-section .sale-block .sale-icon {
    background: linear-gradient(180deg, rgba(255, 240, 240, 0.5) 2.66%, rgba(254, 109, 109, 0.2) 100%);
    border-radius: 10px;
    padding: 0 15px;
}

.sale-section .sale-block .sale-heading {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #FF0000;
    margin: 0;
}

.sale-section .sale-block .sale-paragraph1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    border-top: 1px solid #FF0000;
    border-bottom: 1px solid #FF0000;
    margin: 0;
    padding: 5px 0;
}

.sale-section .sale-block .sale-paragraph2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    background: #FF0000;
    margin: 10px 0;
}

.featured-collection--split-left, .featured-collection--split-right {
    overflow: visible;    
}

#salesday #PageContainer, #sales #PageContainer{
    overflow: visible;
}
#salesday .featured-collection__top-inner, #sales .featured-collection__top-inner {
    position: sticky;
    top: 60px;
}

#salesday .navlink--toplevel, #sales .navlink--toplevel{
    color: #000000;
}

#salesday .navlink--icon svg, #sales .navlink--icon svg{
    fill: #000000;
}

#salesday .collection-marbles .section__header .section__heading,
#sales .collection-marbles .section__header .section__heading{
    font-size: 26px;
    color: #FE6D6D;
}
#salesday .collection-marbles .list-collections-section,
#sales .collection-marbles .list-collections-section{
    padding-top: 0;
}
#salesday .section__heading, 
#sales .section__heading{
    font-family: Yeseva One;
}

#salesday .list-collections__item .list-collections__item__outer .list-collections__item__content,
#sales .list-collections__item .list-collections__item__outer .list-collections__item__content{
    font-family: 'Poppins', sans-serif;
}

#salesday .main_sec_heading, 
#sales .main_sec_heading{
    margin-bottom: 40px;
}

#salesday .main_sec_heading .section__header,
#sales .main_sec_heading .section__header{
    margin-bottom: 0;   
}
#salesday .main_sec_heading .sub_heading,
#sales .main_sec_heading .sub_heading{
    font-family: 'Poppins';
}
#salesday .featured-collection--split-left .featured-collection__top-inner .section__header .section__heading, 
#salesday .featured-collection--split-right .featured-collection__top-inner .section__header .section__heading,
#sales .featured-collection--split-left .featured-collection__top-inner .section__header .section__heading, 
#sales .featured-collection--split-right .featured-collection__top-inner .section__header .section__heading{
    color: #000000;
    font-size: 60px;
    margin: 10px 0;
    line-height: 1;
}
#salesday .deal-information,
#sales .deal-information{
    position: relative;
}
#salesday .deal-information{
    margin-bottom: 10px;
}
#salesday .deal-information .text,
#sales .deal-information .text{
    margin-left: 40px;
    color: #FE6D6D;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
#salesday .tab-collections,
#sales .tab-collections{
    margin-top: 30px;
}
#salesday .tab-collections .section__header .section__heading,
#sales .tab-collections .section__header .section__heading{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1;    
    color: #fe6d6d;
}
#salesday .deal-information .text::before,
#sales .deal-information .text::before{
    position: absolute;
    content: "";
    background: #FFCF54;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 10px;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    animation: salespulse 1.5s infinite;
}
@keyframes salespulse {
    0% {
        box-shadow: 0 0 0 0 #FFCF54;
    }
    100% {
        box-shadow: 0 0 0 12px rgba(251, 179, 47, 0.0039215686);
    }
}

.collection-marbles .great_offer_timer .great_offer_timer_inner .offer_text_heading p{
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: Yeseva One;
}
.collection-marbles .great_offer_timer .great_offer_timer_inner .offer_text_heading .font_main_timer{
    font-size: 24px;
}
.collection-marbles .great_offer_timer .great_offer_timer_inner .offer_text_heading .font_main_timer .font_format{
    font-size: 18px;
}
.featured-collection__inner .featured-collection__top {
    display: block;
}
#salesday .product-grid-item .product-grid-item__info .product-grid-item__price, 
#sales .product-grid-item .product-grid-item__info .product-grid-item__price{
    flex-direction: row;
    font-weight: 600;
}
#salesday .product-grid-item .product-grid-item__info .product-grid-item__price s,
#sales .product-grid-item .product-grid-item__info .product-grid-item__price s{
    font-weight: 400;
}
#salesday .product-grid-item .product-grid-item__info .product-grid-item__price .product-grid-item__price__new,
#sales .product-grid-item .product-grid-item__info .product-grid-item__price .product-grid-item__price__new{
    margin-left: 5px;
    font-weight: 600;
}

#salesday .collection-marbles .great_offer_timer .great_offer_timer_inner,
#sales .collection-marbles .great_offer_timer .great_offer_timer_inner{
    background-position: center;
}
#salesday .collection-marbles .great_offer_timer,
#sales .collection-marbles .great_offer_timer{
    margin-bottom: 30px;
}

.countdown-timer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
}
.countdown-timer-wrapper .seperator{
    display: none;
}

.countdown-timer span {
    margin: 0 1px;
}

.countdown-timer span {
    background: black;
    color: white;
    padding: 3px 22px;
    border-radius: 7px;
    font-family: 'Yeseva One';
    font-size: 28px;
}

.seperator {
    font-size: 50px;
    margin-left: 10px;
    margin-right: 5px;
}

#salesday .list-collections__item__outer .list-collections__item__content .list-collections__item__title,
#sales .list-collections__item__outer .list-collections__item__content .list-collections__item__title{
    font-weight: normal;
    font-family: 'EB Garamond', serif;
}
#salesday .list-collections__item__outer .list-collections__item__content .offer_title,
#sales .list-collections__item__outer .list-collections__item__content .offer_title{
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#salesday .split-images-section .split-images__content .split-images__content-inner .slide__text,
#sales .split-images-section .split-images__content .split-images__content-inner .slide__text{
    font-size: 16px;
    font-family: 'Montserrat';
    line-height: 1.4;
}
#salesday .split-images-section .split-images__content .split-images__content-inner .slide__buttons .slide__btn,
#sales .split-images-section .split-images__content .split-images__content-inner .slide__buttons .slide__btn{
    width: 60%;
}

#salesday .split-images-section .split-images__content .split-images__content-inner,
#sales .split-images-section .split-images__content .split-images__content-inner{
    transform: translateY(15%);
}
#salesday .featured-collection--split-left .top-bar .top-bar__slide .top-bar__text span,
#salesday .featured-collection--split-right .top-bar .top-bar__slide .top-bar__text span{
    font-family: 'Yeseva One';
}

#salesday .featured-collection .product-grid-item .product-grid-item__info .variant__countdown .variant__countdown--low,
#sales .featured-collection .product-grid-item .product-grid-item__info .variant__countdown .variant__countdown--low{
    color: #000000;
}



@media(max-width: 1199px){
    #salesday .tab-collections .tab-collections-wrapper .tabs__contents .tab__content .product-grid-item .tab-collections__featured-item .tab-collections__featured-image,
    #sales .tab-collections .tab-collections-wrapper .tabs__contents .tab__content .product-grid-item .tab-collections__featured-item .tab-collections__featured-image{
        background-position: 10%;
    }
}

@media (min-width:320px) and (max-width: 1023px) {
    .shipping-flex .offer-block {
        flex-direction: column;
        row-gap: 30px;
    }
    #salesday .list-collections__item__outer .list-collections__item__content,
    #sales .list-collections__item__outer .list-collections__item__content{
        padding: 0;
    }
    #salesday .list-collections__item__outer .list-collections__item__content .list-collections__item__title,
    #sales .list-collections__item__outer .list-collections__item__content .list-collections__item__title{
        font-size: 16px;
    }
    .shipping-flex .offer-block .offer-paragraph {
        font-size: 20px;
    }

    .shipping-flex .offer-block .offer-subtext {
        font-size: 24px;
    }    
    #salesday .featured-collection--split-left .top-bar .top-bar__slide,
    #salesday .featured-collection--split-right .top-bar .top-bar__slide{
        padding: 25px;
    }

    .sale-section .sale-block {
        grid-template-columns: 1fr;
        margin: 0px 0 40px !important;
        row-gap: 30px;
    }

    .sale-section .sale-block .sale-heading {
        font-size: 40px;
    }

    .sale-section .sale-block .sale-paragraph1 {
        font-size: 20px;
    }

    .sale-section .sale-block .sale-paragraph2 {
        font-size: 30px;
    }

    .sale-section .sale-block .sale-icon {
        margin: 17px 20px;
    }
}

@media (min-width:768px) {
    #salesday .featured-collection__inner,
    #sales .featured-collection__inner {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: calc(var(--grid-gutter) * 2);
        grid-template-areas: "column-left column-right";
    }
    #salesday .featured-collection__inner .featured-collection__top,
    #sales .featured-collection__inner .featured-collection__top {
        grid-area: column-left;
    }
    #salesday .featured-collection__inner--splitright .featured-collection__top,
    #sales .featured-collection__inner--splitright .featured-collection__top {
        grid-area: column-right;
    }
    #salesday .split-images-section .split-images__content .split-images__content-inner .slide__text,
    #sales .split-images-section .split-images__content .split-images__content-inner .slide__text{
        width: 65%;
        margin: 0 auto 10px;
    }
}
@media (min-width:768px) and (max-width: 1200px) {
    .sale-section .sale-block {
        grid-template-columns: 1fr 1fr;
        padding: 0 40px;
        row-gap: 30px;
    }
}
@media (min-width:1024px) and (max-width: 1200px) {
    .shipping-flex .offer-block .offer-paragraph {
        font-size: 22px;
    }

    .shipping-flex .offer-block .offer-subtext {
        font-size: 24px;
    }   
}
@media screen and (min-width: 1200px) {
    .sale-section .sale-block {
        padding-top: 50px;
    }
    #salesday .collection-marbles .section__header .section__heading,
    #sales .collection-marbles .section__header .section__heading{
        font-size: 60px !important;        
    }
    .featured-collection--split-left .featured-collection__top-inner .section__header .section__heading, 
    .featured-collection--split-right .featured-collection__top-inner .section__header .section__heading{
        font-size: 80px !important;
        width: 70%;
        margin-bottom: 0;
    }
    .countdown-timer span {
        font-size: 46px;
    }
    .collection-marbles .great_offer_timer{
        margin-bottom: 70px;
    }
    .collection-marbles .great_offer_timer .great_offer_timer_inner .offer_text_heading p{     
        font-size: 22px;        
    }
    .collection-marbles .great_offer_timer .great_offer_timer_inner .offer_text_heading .font_main_timer{
        font-size: 40px;
    }
    .collection-marbles .great_offer_timer .great_offer_timer_inner .offer_text_heading .font_main_timer .font_format{
        font-size: 24px;
    }
    #salesday .tab-collections .section__header .section__heading,
    #sales .tab-collections .section__header .section__heading{
        font-size: 60px;
        line-height: 69px;
    }
    #salesday .list-collections__item__outer .list-collections__item__content .offer_title,
    #sales .list-collections__item__outer .list-collections__item__content .offer_title{
        font-size: 20px;
    }
    #salesday .image-accordion__inner .image-accordion__image__wrapper .image-accordion__image__container img,
    #sales .image-accordion__inner .image-accordion__image__wrapper .image-accordion__image__container img{
        object-fit: inherit;
    }
    #salesday .split-images-section .split-images__content .split-images__content-inner .slide__buttons .slide__btn,
    #sales .split-images-section .split-images__content .split-images__content-inner .slide__buttons .slide__btn{
        width: 100%;
    }
    #salesday .split-images-section .split-images__content .split-images__content-inner,
    #sales .split-images-section .split-images__content .split-images__content-inner{
        transform: translateY(30%);
    }
    .shipping-flex .offer-block{
        padding: 50px 0;
    }
    
}

@media screen and (min-width: 1440px) {
    .countdown-timer-wrapper{
        display: flex;
        align-items: baseline;
        width: inherit;
    }
    .countdown-timer-wrapper .seperator{
        display: block;
    }
    .countdown-timer-wrapper .countdown-timer{
        text-align: center;
    }
}

/*sale-offers section css ends here*/